@font-face {
  font-family: 'iconfont';  /* project id 2489974 */
  src: url('//at.alicdn.com/t/font_2489974_4a09jp3jg77.eot');
  src: url('//at.alicdn.com/t/font_2489974_4a09jp3jg77.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2489974_4a09jp3jg77.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2489974_4a09jp3jg77.woff') format('woff'),
  url('//at.alicdn.com/t/font_2489974_4a09jp3jg77.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2489974_4a09jp3jg77.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yanjing:before {
  content: "\e62b";
}

.icon-yiwen:before {
  content: "\e65b";
}

.icon-icon-bainji:before {
  content: "\e62e";
}

.icon-jiahao:before {
  content: "\e607";
}

.icon-huifu:before {
  content: "\e61a";
}

.icon-ren:before {
  content: "\e6c5";
}

.icon-thin-_book_writi:before {
  content: "\e602";
}

.icon-tuichu:before {
  content: "\e72e";
}

.icon-fabu-:before {
  content: "\e6be";
}

.icon-trophy:before {
  content: "\eb8b";
}

